@import url("https://fonts.googleapis.com/css2?family=Montserrat");
* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  height: 100vh;
  padding: 15px;
  margin: 0;
  background-color: #333;
}
.container {
  background-color: #476ce4;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  margin: 20px auto;
  padding: 4rem 6rem;
  max-width: 1000px;
  position: relative;
}
.fa-quote {
  position: absolute;
  color: rgba(255, 255, 255, 0.3);
  font-size: 50px;
  top: 80px;
}
.fa-quote-right {
  left: 30px;
}
.fa-quote-left {
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.text {
  line-height: 2rem;
  text-align: justify;
}
.user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user .user-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.user .user-details {
  margin-left: 20px;
}
.user .username {
  margin: 0;
}
.user .role {
  margin: 20px 0;
  font-weight: normal;
}
.progress-bar {
  background-color: #fff;
  height: 4px;
  width: 100%;
  transform-origin: left;
  animation: grow 10s linear infinite;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

@media (max-width: 768px) {
  .fa-quote {
    display: none;
  }
  .container {
    padding: 20px 30px;
  }
}
